<div class="fixed top-0 z-50 w-full bg-white">
  <div class="px-4 mx-auto max-w-7xl sm:px-6">
    <div class="flex items-center justify-between py-6 border-b-2 border-gray-100 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#" class="flex items-center">
          <img class="w-auto h-8 transition-all duration-300 transform" [ngClass]="{'h-9' : currentFragment == 'home'}" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Logo">
          <span class="hidden ml-5 font-serif text-2xl font-bold tracking-widest uppercase sm:inline-block">Consultora</span>
        </a>
      </div>
      <nav class="lg:space-x-10 md:space-x-5 font-serif md:flex">
        <a [routerLink]="['/']" fragment="about" class="relative text-lg font-medium text-gray-500 hover:text-gray-900" [ngClass]="{'text-indigo-600' : currentFragment == 'about'}">
          Nosotros
          <span *ngIf="currentFragment == 'about'" class="absolute top-0 right-0 flex w-3 h-3 transform translate-x-3">
            <span class="absolute inline-flex w-full h-full bg-purple-400 rounded-full opacity-75 animate-ping"></span>
            <span class="relative inline-flex w-3 h-3 bg-purple-500 rounded-full"></span>
          </span>
        </a>
        <a [routerLink]="['/']" fragment="services" class="relative text-lg font-medium text-gray-500 hover:text-gray-900" [ngClass]="{'text-indigo-600' : currentFragment == 'services'}">
          Servicios
          <span *ngIf="currentFragment == 'services'" class="absolute top-0 right-0 flex w-3 h-3 transform translate-x-3">
            <span class="absolute inline-flex w-full h-full bg-purple-400 rounded-full opacity-75 animate-ping"></span>
            <span class="relative inline-flex w-3 h-3 bg-purple-500 rounded-full"></span>
          </span>
        </a>
        <a [routerLink]="['/']" fragment="contact" class="relative text-lg font-medium text-gray-500 hover:text-gray-900" [ngClass]="{'text-indigo-600' : currentFragment == 'contact'}">
          Contacto
          <span *ngIf="currentFragment == 'contact'" class="absolute top-0 right-0 flex w-3 h-3 transform translate-x-3">
            <span class="absolute inline-flex w-full h-full bg-purple-400 rounded-full opacity-75 animate-ping"></span>
            <span class="relative inline-flex w-3 h-3 bg-purple-500 rounded-full"></span>
          </span>
        </a>
      </nav>
    </div>
  </div>
</div>
