<div class="relative text-white bg-gray-200">
  <div class="max-w-2xl px-4 py-24 mx-auto sm:px-6">
    <div class="grid items-center justify-center grid-cols-3 py-6 text-gray-900 ">
      <div class="flex flex-col items-center justify-center transition-all duration-300 transform cursor-pointer opacity-60 hover:opacity-100">
        <i class="text-4xl fab fa-instagram"></i>
        <span class="font-serif text-xl">@Consultora</span>
      </div>
      <div class="flex flex-col items-center justify-center transition-all duration-300 transform cursor-pointer opacity-60 hover:opacity-100">
        <i class="text-4xl fab fa-facebook-square"></i>
        <span class="font-serif text-xl">consultora</span>
      </div>
      <div class="flex flex-col items-center justify-center transition-all duration-300 transform cursor-pointer opacity-60 hover:opacity-100">
        <i class="text-4xl far fa-envelope"></i>
        <span class="font-serif text-xl">hola@consultora.com</span>
      </div>
    </div>
  </div>
</div>