<div class="flex h-64 min-h-screen py-64 bg-cover hero-image" style="background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container flex items-center justify-center p-4 mx-auto ">
    <div>
      <div class="max-w-2xl p-12 mx-auto my-5 bg-white shadow-xl content">
        <div class="mb-3 font-serif text-2xl heading md:text-4xl">{{title}}</div>
        <div class="font-serif text-lg leading-relaxed text sm:block">{{description}}</div>
      </div>
    </div>
  </div>
</div>

