<div class="flex min-h-screen py-64 bg-cover hero-image"
  style="background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container flex items-center justify-center p-4 mx-auto">
    <div>
      <div class="max-w-3xl p-12 mx-auto my-5 bg-white shadow-xl content">
        <div class="mb-6 font-serif text-4xl font-bold text-indigo-600 border-b border-indigo-500 heading md:text-4xl">Sobre nosotros</div>
        <div class="font-serif text-lg leading-relaxed prose text sm:block lg:prose-xl">
          <p>Somos un equipo dedicado a la consultoría externa convencidos de que, para lograr los objetivos planteados,
            es indispensable entender y analizar las tendencias de la Opinión Pública teniendo en cuenta las
            particularidades del contexto, en cada localidad, en cada ciudad y en cada provincia. </p>
          <p>
            Lo que perciben, sienten y experimentan las personas, rigelas elecciones que toman a la hora de elegir un
            candidato, producto o marca. Por eso,comprenderla complejidad de ese entramado y de la dinámica social es
            indispensable para tomar las mejores decisiones.
          </p>
          <p>
            Entendemos que analizar probables escenarios futuros, es el camino para desarrollar la hoja de ruta más
            eficiente que permita aprovechar las oportunidades presentes.
          </p>
          <p> Mediante calidad académica y solidez profesional, estamos comprometidos en acercar las mejores
            herramientas técnicas y analíticas que permitan a cada uno de nuestros clientes saber dónde están
            posicionados y diseñar juntos hacía donde quieren ir. </p>
        </div>
      </div>
      <!--
      <div class="max-w-3xl p-12 mx-auto my-5 bg-white shadow-xl opacity-75 content">
        <div class="mb-3 font-serif text-2xl heading md:text-4xl">{{title}}</div>
        <div class="font-serif text-lg leading-relaxed text sm:block">{{description}}</div>
      </div>
      -->
    </div>
  </div>
</div>