<div class="min-h-screen hero-image bg-right-bottom bg-cover flex" style="background-image: url(https://images.unsplash.com/photo-1457131760772-7017c6180f05?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);">
  <div class="container mx-auto p-4 flex items-end">
    <div>
      <div class="content float-left py-4 px-5 my-5">
        <div class="heading mb-3 text-2xl md:text-4xl">{{title}}</div>
        <div class="text leading-normal text-2xl sm:block">{{description}}</div>
      </div>
    </div>
  </div>
</div>

