<app-header></app-header>
<div class="bg-white">
  <div class="max-w-12xl mx-auto px-4">
    <section *ngFor="let page of pages | async" class="mt-10" id="about">
      <app-about [title]="page.title" [description]="page.description" [subtitle]="page.subtitle"></app-about>
    </section>

    <section class="mx-auto" id="services">
      <h2 class="heading mb-3 text-2xl md:text-4xl">Nuestros servicios</h2>
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <div *ngFor="let service of services | async">
          <app-service [title]="service.title" [description]="service.description"></app-service>
        </div>
      </dl>
    </section>

    <section class="mx-auto" id="contact">
      <app-contact></app-contact>
    </section>
  </div>
</div>
<app-footer></app-footer>


